<html>

<head>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.js"></script>
    <title>Knights Bombs n' Goblins</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>

<body>
    <script><%- js %></script>
</body>

</html>